@font-face {
  font-family: neuB;
  src: url(./NeueHaasDisplayMediu.ttf);
}
@font-face {
  font-family: neuB;
  font-weight: 200;
  src: url(./NeueHaasDisplayLight.ttf);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: neuB;
}

html,
body {
  height: 100%;
  width: 100%;
  background-color: #efeae3;
}

#page1 {
  min-height: 100vh;
  width: 100%;
  position: relative;
  padding: 2.2vw;
}

nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.2vw;
}

#navMenu {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 0.8vw;
}

#navMenu h4 {
  font-size: 17px;
  font-weight: 500;
  font-family: neuB;
  padding: 10px 23px;
  border: 1px solid rgba(0, 0, 0, 0.303);
  border-radius: 50px;
  position: relative;
  transition: all ease 0.5s;
  overflow: hidden;
  cursor: pointer;
}

/*nav menu animation*/
#navMenu h4::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: black;
  left: 0;
  bottom: -100%;
  border-radius: 50%; /*may not be used later on as the overflow will be hidden*/
  transition: all ease 0.5s;
}

#navMenu h4:hover::after {
  bottom: 0%;
  border-radius: 50px;
}

#navMenu h4 a {
  text-decoration: none;
  position: relative;
  color: rgb(0, 0, 0);
  z-index: 9;
}

#navMenu h4:hover a {
  color: white;
  overflow: hidden;
}

#center {
  height: 78vh;
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding: 2.2vw;
  border-bottom: 2px solid rgb(0, 0, 0, 0.303);
}

#left p {
  width: 28vw;
  font-size: 2vw;
  font-weight: 900;
  line-height: 2vw;
  /* background-color: #fff; */
}

#right h1 {
  font-size: 10vw;
  text-align: right;
  line-height: 8vw;
}

#page1 video {
  width: 100%;
  border-radius: 20px;
  margin-top: 50px;
}

#page2 {
  min-height: 100vh;
  width: 100%;
  padding-top: 8vw;
  padding-bottom: 2vw;
  position: relative;
  /* background-color: rebeccapurple; */
}

#movingTexts {
  white-space: nowrap;
  overflow-x: auto;
}

#movingTexts::-webkit-scrollbar {
  display: none;
}

#movingTexts h1 {
  font-size: 9vw;
  text-transform: uppercase;
  /* background-color: aqua; */
  display: inline-block;
  letter-spacing: -50%;
}

.con {
  white-space: nowrap;
  display: inline-block;
  animation-name: textHoriScroll;
  animation-duration: 20s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.orangeRedDot {
  height: 60px;
  width: 60px;
  display: inline-block;
  border-radius: 50%;
  background-color: #fe330a;
  margin: 1vw 2vw;
}

@keyframes textHoriScroll {
  from {
    transform: translate(0);
  }
  to {
    transform: translate(-100%);
  }
}

#page2Bottom {
  height: 90vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4.5vw;
  position: relative;
  z-index: 9;
}

#page2Bottom h1 {
  font-size: 4.5vw;
  width: 65%;
  line-height: 4.5vw;
  letter-spacing: -2px;
}

#page2BottomRight {
  width: 20%;
  margin: 15vw 4vw 0 0;
}

#page2BottomRight img {
  width: 100%;
  /* height: 180px; */
  border-radius: 15px;
}

#page2BottomRight p {
  font-weight: 200;
  margin-top: 2vw;
  font-size: 1vw;
}

#page2 #gooey {
  height: 32vw;
  width: 32vw;
  position: absolute;
  border-radius: 50%;
  background: linear-gradient(to top right, #fe330a, #ffa600);
  top: 57%;
  left: 24%;
  filter: blur(20px);
  animation-name: gooey;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
}

@keyframes gooey {
  from {
    filter: blur(20px);
    transform: translate(10%, -10%) skew(0);
  }
  to {
    filter: blur(30px);
    transform: translate(-8%, 8%) skew(-12deg);
  }
}

#page3 {
  min-height: 100vh;
  width: 100%;
  background-color: #fff;
  padding: 4vw 0;
}

.elem {
  height: 125px;
  width: 100%;
  position: relative;
  /* border-top: 1px solid #000; */
  border-bottom: 1px solid rgb(0, 0, 0, 0.303);
  display: flex;
  align-items: center;
  padding: 2vw;
  overflow: hidden;
}

.elem .overlay {
  height: 100%;
  width: 100%;
  background-color: #ff9831;
  position: absolute;
  left: 0;
  top: -100%;
  transition: all ease 0.2s;
  cursor: pointer;
}

.elem:hover .overlay {
  top: 0;
}

.elem h2 {
  font-size: 3vw;
  position: relative;
  z-index: 9;
}

#elemContainer {
}

#fixedImage {
  height: 30vw;
  width: 24vw;
  background-color: rebeccapurple;
  border-radius: 10px;
  position: fixed;
  z-index: 99;
  left: 50%;
  top: 20%;
  display: none;
}
